extends ./componentes/plantilla.pug 
block contenidos
    section.intro
      .intro__imagen: img(src="./images/imagen.png", alt="Imagen encabezado")
      .intro__contenido
        h2 #{titulos[0]}
        p 
          | Lorem ipsum dolor sit amet consectetur adipisicing 
          | elit. Obcaecati nobis numquam voluptatum at inventore 
          | neque optio id recusandae magnam odit reprehenderit 
          | accusamus distinctio dolorum aspernatur eveniet, modi 
          | quam dolore nulla!
          span Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, praesentium.
        a.boton Leer mas
    main.contenido
      +caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet consectetur adipisicing.')
      +caja('imagen.png',titulos[2],'Lorem ipsum dolor sit amet consectetur adipisicing.')
      +caja('imagen.png',titulos[3],'Lorem ipsum dolor sit amet consectetur adipisicing.')
